
<!-- ******PROMO****** -->
<section id="promo" class="promo section offset-header has-pattern">
    <div class="container">
        <div class="row">
            <div class="overview col-md-12">
                <h2 class="title">Design Your Own Custom Wedding<br/>Gifts and Accessories</h2>
                <p><a href="#" class="btn btn-theme btn-lg" data-toggle="modal" data-target="#customer_modal">GET STARTED</a></p>
                <p class="designer-link"><a href="#" data-toggle="modal" data-target="#designer_modal">Are you a designer?</a></p>
                <h3 class="tagline">If you can dream it, we can make it</h3>
            </div><!--//overview-->

        </div><!--//row-->
    </div><!--//container-->
</section><!--//promo-->

<!-- ******HOW IT WORKS****** -->
<section id="how" class="how section">
    <div class="container">
        <h2 class="title text-center">How It Works</h2>
        <h3 class="subtitle text-center">Create your own wedding gifts and accessories in 3 simple steps</h3>
        <div class="how-panels">
            <div class="row">
                <div class="col-md-4">
                    <div class="how-panel">
                        <div class="row">
                            <div class="col-xs-1" style="padding-left: 5px; padding-right: 5px">
                                <span class="number-circle">1</span>
                            </div>
                            <div class="col-xs-11">
                                <p class="panel-header">Submit your idea and budget</p>
                                <p class="panel-text">
                                    All you have to do is tell us what you want to make and how much you are willing to spend and we will put our designers to work.
                                </p>
                                <%= image_tag "custom/panel1.png", class: 'img-responsive' %>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="how-panel">
                        <div class="row">
                            <div class="col-xs-1" style="padding-left: 5px; padding-right: 5px">
                                <span class="number-circle">2</span>
                            </div>
                            <div class="col-xs-11">
                                <p class="panel-header">Browse design alternatives</p>
                                <p class="panel-text">
                                    Our community of designers compete to bring your idea to life. Start receiving design options as soon as 24 hours after submission.
                                </p>
                                <%= image_tag "custom/panel2.png", class: 'img-responsive' %>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="how-panel">
                        <div class="row">
                            <div class="col-xs-1" style="padding-left: 5px; padding-right: 5px">
                                <span class="number-circle">3</span>
                            </div>
                            <div class="col-xs-11">
                                <p class="panel-header">Select your favorite, we make it</p>
                                <p class="panel-text">
                                    Choose your favorite design and then work directly with your chosen designer to add polish over the next 7 days. Then we make it!
                                </p>
                                <%= image_tag "custom/panel3.png", class: 'img-responsive' %>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--//row-->
        </div>
        <p class="text-center" style="padding: 10px 0"><a href="#" class="btn btn-theme btn-lg" data-toggle="modal" data-target="#customer_modal">GET STARTED</a></p>
    </div><!--//container-->
</section><!--//how-->

<!-- ******MAKE IT YOURS****** -->
<section id="make" class="make-it-yours section">
    <div class="container">
        <h2 class="title text-center">Make It Yours</h2>
        <div class="row">
            <div class="col-md-10 col-md-push-1">
                <h3 class="subtitle text-center">
                    At 43Layers, we believe that the meaning behind the design is just as important as the plans, drawings or models themselves. Don’t have another “me-too” wedding and don’t give another boring wedding gift, layer in your own meaning and make it yours!
                </h3>
            </div>
        </div>
        <div class="miy-examples">
            <div class="row">
                <div class="col-md-4">
                    <div class="miy-example" style="position: relative">
                        <%= image_tag "custom/miy-example1.jpg" %>
                        <div class="miy-caption">Table Decorations</div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="miy-example" style="position: relative">
                        <%= image_tag "custom/miy-example2.jpg" %>
                        <div class="miy-caption">Cake Toppers</div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="miy-example" style="position: relative">
                        <%= image_tag "custom/miy-example3.jpg" %>
                        <div class="miy-caption">Groom / Groomsmen</div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="miy-example" style="position: relative">
                        <%= image_tag "custom/miy-example4.jpg" %>
                        <div class="miy-caption">Bride / Bridal Party</div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="miy-example" style="position: relative">
                        <%= image_tag "custom/miy-example5.jpg" %>
                        <div class="miy-caption">Gifts</div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="miy-example" style="position: relative">
                        <%= image_tag "custom/miy-example6.jpg" %>
                        <div class="miy-caption">Dining</div>
                    </div>
                </div>
            </div><!--//row-->
        </div>
        <p class="text-center" style="padding: 10px 0"><a href="#" class="btn btn-theme btn-lg" data-toggle="modal" data-target="#customer_modal">GET STARTED</a></p>
     <p class="tagline text-center">Need more inspiration? Check out our <a href="http://www.pinterest.com/43Layers">Pinterest Page</a> for ideas</p>
    </div><!--//container-->
</section><!--//how-->

<!-- ******FAQ****** -->
<section id="faq" class="faq section">
    <div class="container">
        <div class="row">
            <h2 class="title text-center">Frequently Asked Questions</h2>
            <div class="faq-col col-md-6 col-sm-6 col-xs-12">
                <div class="item">
                    <h3 class="question">
                        <i class="fa fa-question-circle"></i>Why is 43Layers so good at customization?
                    </h3>
                    <p class="answer">
                        At 43Layers, all of our products are made using digital fabrication technology (for now primarily 3D printing and laser cutting). What this means is that all products are designed with computer aided design software and then manufactured with software powered manufacturing tools. Just like an MP3 is a digital version of a song, our designs are digital versions of products that we then turn into real life objects. These products are infinitely easier to customize than with traditional manufacturing because the product design itself is digital so any customization we need to do can be done in software and it will be manufactured accordingly.
                    </p>
                </div><!--//item-->
                <div class="item">
                    <h3 class="question">
                        <i class="fa fa-question-circle"></i>What types of materials can I 3D print and laser cut with?
                    </h3>
                    <p class="answer">
                        Today our manufacturing partners allow for a variety of material options and they add new ones regularly.<br/><br/>
                        For 3D printing, the following materials are available: Plastic (PLA, ABS), Nylon, Sandstone, Ceramic, Steel (Various finishes), Bronze, Brass, Silver, and 14K Gold.<br/><br/>
                        For laser cutting, the following materials are available today: wood (various types and finishes), acrylic, paper, leather and fabric.
                    </p>
                </div><!--//item-->
                <div class="item">
                    <h3 class="question">
                        <i class="fa fa-question-circle"></i>I can’t think of anything to make, inspire me!
                    </h3>
                    <p class="answer">
                        If you need design inspiration, check us out on Pinterest, Facebook, Twitter and our blog where we constantly post pictures of products we’ve helped our customers make and the incredible stories behind them. If you are still in need of more inspiration, send us an email and we can help you brainstorm!
                    </p>
                </div><!--//item-->
            </div><!--//faq-col-->
            <div class="faq-col col-md-6 col-sm-6 col-xs-12">
                <div class="item">
                    <h3 class="question">
                        <i class="fa fa-question-circle"></i>What if I don’t have any design experience whatsoever?
                    </h3>
                    <p class="answer">
                        Well, you are in luck. At 43Layers we believe that the most important part of design is the meaning behind the product, not the drawing, plan or model itself. It is our goal to enable the design and manufacturing of products specifically for YOU, so whether you are an AutoCAD or Adobe Creative Suite black belt or have never touched any design software in your life, our goal is to empower the designer in you and bring your ideas and the meaning behind them to life.
                    </p>
                </div><!--//item-->
                <div class="item">
                    <h3 class="question">
                        <i class="fa fa-question-circle"></i>How long does the process take?
                    </h3>
                    <p class="answer">
                        We recommend you give the process 4-6 weeks (3-4 weeks for manufacturing and shipping and 1-2 weeks for the design). In many cases, the product can ship out faster than our suggested lead time, and we are constantly working with our suppliers to try to speed up manufacturing and shipping lead time. 
                    </p>
                </div><!--//item-->
                <div class="item">
                    <h3 class="question">
                        <i class="fa fa-question-circle"></i>So can I really make anything?
                    </h3>
                    <p class="answer">
                        Years from now, the answer to this question is theoretically, yes. Today, there are many things that can be created with digital fabrication; however, the cost is directly related to the type of material and how much of it you are using. So while you could design a large product made out of a precious metal (gold for instance) to be 3D printed, we wouldn’t recommend actually manufacturing it unless you wanted to spend a boatload of money. If you have any questions on what is economically feasible to make with 3D printing or laser cutting, shoot us an email – we will be happy to talk you through it!
                    </p>
                </div><!--//item-->
            </div><!--//faq-col-->
        </div><!--//row-->
        <div class="more text-center">
            <h4 class="title">More questions?</h4>
            <a class="btn btn-lg btn-theme scrollto" href="#contact">Get in touch<i class="fa fa-arrow-circle-o-down"></i></a>
        </div>
    </div><!--//container-->
</section><!--//faq-->


<!-- ******CONTACT****** -->
<section id="contact" class="contact section has-pattern">
    <div class="container">
        <div class="row text-center">
            <h2 class="title">Contact Us</h2>
            <div class="intro col-md-6 col-sm-12 col-xs-12 col-md-offset-3">
                <p>We’d love to hear from you. Send us a note and we'll get back to you as soon as we possibly can.</p>
                <ul class="list-unstyled contact-details">
                    <li><i class="fa fa-envelope"></i><a href="mailto:contact@43layers.com">contact@43layers.com</a></li>
                    <li><i class="fa fa-phone-square"></i>260-639-4343</li>
                </ul>
            </div>
        </div><!--//row-->
        <div class="row text-center">
            <div class="contact-form col-md-6 col-sm-12 col-xs-12 col-md-offset-3">
                <%= form_tag(ajax_inquiry_path, method: "post", id: "contact_inquiry_form") do %>
                    <div class="form-group name">
                        <label class="sr-only" for="name">Name</label>
                        <input id="name" type="text" class="form-control" placeholder="Name:" name="inquiry[name]">
                    </div><!--//form-group-->
                    <div class="form-group email">
                        <label class="sr-only" for="email">Email</label>
                        <input id="email" type="email" class="form-control" placeholder="Email:" name="inquiry[email]">
                    </div><!--//form-group-->
                    <div class="form-group message">
                        <label class="sr-only" for="message">Message</label>
                        <textarea id="message" class="form-control" rows="6" placeholder="Message:" name="inquiry[message]"></textarea>
                    </div><!--//form-group-->
                    <input type="hidden" id="customer_source" name="inquiry[source]" value="CONTACT FORM">
                    <button type="submit" class="btn btn-lg btn-theme">
                        <span class="text">Send Message</span> <i class="loader fa fa-spinner fa-spin" style="display: none"></i>
                    </button>
                    <p class="error-message" style="display: none">Hmm, we had trouble with your entries, please try again!</p>
                <% end %><!--//form-->
            </div><!--//contact-form-->
            <div class="contact-form-success" style="display: none">
                Thank you!  We'll reply back soon.
            </div>
        </div><!--//row-->
        <div class="text-center">
             <ul class="social-icons list-inline">
                <li><a href="https://twitter.com/43Layers" target="_blank"><i class="fa fa-twitter"></i></a></li>
                <li><a href="https://www.facebook.com/pages/43-Layers/273568439486440" target="_blank"><i class="fa fa-facebook"></i></a></li>
                <li><a href="http://instagram.com/43layers" target="_blank"><i class="fa fa-instagram"></i></a></li>
                <li><a href="http://www.pinterest.com/43layers/" target="_blank"><i class="fa fa-pinterest"></i></a></li>
            </ul><!--//social-icons-->
        </div><!--//row-->
    </div><!--//container-->
</section><!--//contact-->

<%= render "pages/customer_modal" %>
<%= render "pages/designer_modal" %>
